.product_content {
    padding: 10px 0;
} //?????????????????????????????????????????????????????????????????????????????????

.content {
    padding: 19px 0 0;
}

.content h1 {
    font-family: 'Moula';
    font-weight: 900;
    font-size: 38px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #232323;
    margin: 0 0 32px;
}

.container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1402px;
}

.btn_violet {
    display: inline-block;
    font-family: 'Moula';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    border-radius: 10px;
    padding: 20px 48px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    color: #FFFFFF;
    background: #7250E6;
}

.btn_violet:hover {
    background-color: #694BCE;
    ; }


.product_mob_title {
    display: none;
}

.product_top {
    display: flex;
    padding: 0 0 65px;
}

.product_top_left {
    width: 36.44%;
    margin: 0 2.91% 0 0;
}

.product_top_right {
    width: 60.65%;
}

.text_block {
    font-size: 16px;
    line-height: 19px;
    color: #707070;
}

.text_block h1 {
    font-family: 'Moula';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.2;
    margin: 0 0 20px;
    color: #232323;
    text-transform: uppercase;
}

.text_block h2 {
    font-family: 'Moula';
    font-weight: 900;
    font-size: 38px;
    line-height: 1.2;
    margin: 0 0 20px;
    color: #232323;
    text-transform: uppercase;
}

.text_block h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 20px;
    color: #232323;
}

.text_block h4 {
    font-weight: 600;
    font-size: 21px;
    line-height: 1.2;
    margin: 0 0 20px;
    color: #232323;
}

.text_block p {
    font-size: 16px;
    line-height: 19px;
    color: #707070;
    margin: 0 0 19px;
}

.text_block table {
    margin: 0 0 20px;
    width: 100%;
}

.text_block table th, .text_block table td {
    font-weight: 400;
    border: 1px solid #ECECEC;
    padding: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #707070;
}

.text_block table th {
    font-weight: 600;
    color: #232323;
}

.text_block ol {
    list-style: none;
    counter-reset: item;
    margin: 20px 0;
}

.text_block ol li {
    margin: 0;
    padding: 0 0 0 25px;
    position: relative;
}

.text_block ol li:before {
    content: counter(item)".";
    counter-increment: item;
    left: 5px;
    top: 0;
    position: absolute;
}

.text_block ul {
    list-style: none;
    margin: 20px 0;
}

.text_block ul li {
    margin: 0;
    padding: 0 0 0 25px;
    position: relative;
}

.text_block ul li:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #707070;
    border-radius: 50%;
    left: 9px;
    top: 7px;
}


.w div.product div.images.w-product-gallery {
    float: none;
    width: 100%;
}

.w div.product div.images .w-product-gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.w-product-gallery__image {
    width: calc(25% - 10px);
    margin: 13px 13px 0 0;
}

.w-product-gallery__image:first-child {
    width: 100%;
    margin: 0;
}

.products_wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 0 52px;
}

.sidebar {
    width: 23.32%;
}

.sidebar_categories {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 46px;
}

.sidebar_category {
    margin: 0 20px 20px 0;
    text-align: center;
}

.sidebar_category a {
    text-decoration: none;
    color: #000000;
}

.sidebar_category a:hover {
    opacity: 0.8;
}

.sidebar_category_img {
    display: block;
    width: 113px;
    height: 113px;
    margin: 0 auto 12px;
}

.sidebar_category_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.sidebar_category_title {
    display: block;
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000000;
}

.sidebar_category_desc {
    display: block;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #707070;
}





.products_content {
    width: 74.34%;
}
.products_content_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 40px;
    font-size: 13px;
    line-height: 1.2;
    color: #707070;
}

.products_content_top select, .w-perpage select {
    margin: 0 0 0 15px;
}

.products_content_wrap {
    padding: 0 0 28px;
}

.products_content_wrap .products, .w .products_content_wrap .products ul, .w .products_content_wrap ul.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.products_content_bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products_content_bottom .w-perpage {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.w .related ul.products li.product, .w-page .related ul.products li.product {
    width: 100%;
    margin: 0;
}

.w .related ul.products li.product, .w-page .related ul.products li.product {
    width: 100%;
    margin: 0;
}

.products_content_wrap .products, .w .products_content_wrap .products ul, .w .products_content_wrap ul.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.w ul.products li.product, .w-page ul.products li.product {
    float: none;
}

.w ul.products.columns-3 li.product, .w-page ul.products.columns-3 li.product {
    width: calc(33.33333% - 8px);
    margin: 0 12px 12px 0;
}

.w ul.products.columns-3 li.product:nth-child(3n), .w-page ul.products.columns-3 li.product:nth-child(3n) {
    margin-right: 0;
}

.products_content_bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products_content_bottom .w-perpage {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}



.products li.product .button.compare {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    top: 15px;
    left: 15px;
    box-sizing: border-box;
    background: none;
    border: 1px solid #888888;
    border-radius: 2px;
}

.product {
    flex: 1 1 calc(33.333% - 20px); /* Три карточки в строке */
    box-sizing: border-box;
}

.product_inner {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    text-align: center;
    padding: 17px 21px 21px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.product_inner:hover {
    box-shadow: 0 25px 35px -5px rgb(0 0 0 / 10%);
}

.product_inner .price_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
}

.product_inner .price_wrap .price, .w ul.products li.product .price {
    font-family: 'Moula';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1;
    color: #232323;
    display: flex;
    align-items: center;
    margin: 0;
}

.product_inner .price_wrap .price_none {
    font-size: 21px;
}

.product_inner .price_wrap .ico_fire {
    margin: 0 0 0 4px;
    width: 24px;
}

.product_inner .compare, .w ul.products li.product .button.compare {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    top: 15px;
    left: 15px;
    box-sizing: border-box;
    background: none;
    border: 1px solid #888888;
    border-radius: 2px;
}

.product_inner .compare.added, .w ul.products li.product .button.compare.added {
    background: #7250E6 url(/web/20230316073346im_/https://interhash.ru/wp-content/themes/interhash/img/ico_check_white.svg) no-repeat center center;
    background-size: 77% auto;
    border-color: #7250E6;
}

.product_image {
    height: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 13px 12px;
}

.product_image img, .w ul.products li.product .product_image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 214px;
    margin: 0;
}

.category-list {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #B7B7B7;
}

.category-list a {
    color: #B7B7B7;
    text-decoration: none;
}

.category-list a:hover {
    color: #7250E6;
}

.w_loop_product_title {
    padding: 0;
    margin: 6px 0 3px;
    font-family: 'Moula';
    font-size: 21px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.w_loop_product_title a {
    text-decoration: none;
    color: #000;
}

.w_loop_product_title a:hover {
    color: #7250E6;
}

.single_product_price_wrap {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}

.single_product_price_wrap {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}

.single_product_price_wrap .price, .w div.product p.price, .w div.product span.price {
    font-weight: 800;
    font-size: 28px;
    line-height: 1.1;
    color: #232323;
}

.single_product_payments {
    display: flex;
    margin: 0 0 0 20px;
}

.single_product_payments img {
    margin: 0 4px 0 0;
}

.single_product_btn_compare {
    margin: 0 0 20px;
}

.single_product_btn_compare a {
    position: relative;
    padding: 0 0 0 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #232323;
    text-decoration: none;
}

.single_product_btn_compare a:before {
    content: '';
    width: 22px;
    height: 22px;
    border: 1px solid #000000;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 2px;
}

.single_product_attributes {
    margin: 0 0 30px;
    width: 360px;
}

.single_product_attributes_list {
    margin: 0 0 28px;
}

.single_product_attributes_item {
    height: 32px;
    display: flex;
    align-items: center;
}

.single_product_attributes_item + .single_product_attributes_item {
    padding-top: 16px;
    margin-top: 16px;
    position: relative;
}

.single_product_attributes_item + .single_product_attributes_item:before {
    content: '';
    position: absolute;
    width: 360px;
    left: 0;
    top: 0;
    border-top: 1px solid #ECECEC;
}

.single_product_attributes_item_ico {
    width: 32px;
    margin: 0 26px 0 0;
}

.single_product_attributes_item_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #686868;
    margin: 0 26px 0 0;
}

.single_product_attributes_item_text {
    font-size: 16px;
    line-height: 19px;
    color: #686868;
}



.single_product_attributes_more a {
    display: inline-block;
    padding: 0 22px 0 0;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    color: #7250E6;
    text-decoration: none;
    position: relative;
}

.single_product_attributes_more a i {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    background: url(/web/20230316073346im_/https://interhash.ru/wp-content/themes/interhash/img/ico_info.svg) no-repeat center center;
}

.single_product_attributes_more {
}


.single_product_attributes_more a:hover {
    opacity: 0.8;
}

.single_product_btns {
    max-width: 304px;
}

.single_product_btn + .single_product_btn {
    margin: 8px 0 0;
}

.single_product_btn a {
    display: block;
    width: 100%;
    padding: 20px 20px;
}

.single_product_btn:last-child a {
    box-sizing: border-box;
    padding: 18px 20px;
    border: 2px solid #7250E6;
    color: #7250E6;
    background: none;
}

.single_product_description {
    margin: 0 0 40px;
}


.single_product_price_wrap .price, .w div.product p.price, .w div.product span.price {
    font-weight: 800;
    font-size: 28px;
    line-height: 1.1;
    color: #232323;
}

@media only screen and (max-width: 1259px) {
    
}





@media only screen and (max-width: 991px) {
    .products_wrap {
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    .sidebar {
        width: 100%;
    }

    
    .sidebar_block .textwidget {
        display: none;
    }

    .products_content {
        width: 100%;
    }

    .services_item {
        width: 48%;
        margin-right: 4%;
    }

    .services_item:nth-child(2n) {
        margin-right: 0;
    }

    .service_profitably_item {
        width: calc(50% - 18px);
    }

    .service_profitably_item:nth-child(3n) {
        margin-right: 36px;
    }

    .service_profitably_item:nth-child(2n) {
        margin-right: 0;
    }

    .service_block_support_item {
        width: calc(50% - 9px);
    }

    .service_block_support_item:nth-child(2n) {
        margin-right: 0;
    }

    .service_block_form_wrap {
        padding: 52px 27px 55px;
    }

    .service_block_form {
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
    }

    .service_text_block_list_item {
        width: calc(50% - 9px);
    }

    .service_text_block_list_item:nth-child(2n) {
        margin-right: 0;
    }
}





@media only screen and (max-width: 767px) {
    .container {
        padding: 0 17px;
    }

    .btn {
        padding: 18px 30px;
        font-size: 12px;
        border-radius: 10px;
    }

    .icon {
        width: 44px;
        height: 44px;
        border-radius: 8px;
    }

    .btn_violet {
        padding: 18px 30px;
        font-size: 12px;
        border-radius: 10px;
        min-width: 303px;
    }

    .header_wrap {
        height: 69px;
    }

    

    .content {
        padding: 10px 0 0;
    }

    .content h1 {
        font-size: 22px;
        margin: 0 0 12px;
    }


    .products_wrap {
        flex-wrap: wrap;
        margin: 0 0 24px;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar_categories {
        padding: 0;
    }

    .sidebar_category {
        margin: 0 20px 24px 0;
    }

    .sidebar_category_img {
        width: 89px;
        height: 89px;
        margin: 0 auto 9px;
    }

    .sidebar_category_title {
        margin: 0 0 6px;
        font-size: 12px;
    }

    .sidebar_category_desc {
        font-size: 10px;
    }

    .sidebar_block .widget_title {
        padding: 13px 17px;
        box-sizing: border-box;
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #707070;
        border: 2px solid #D9D9D9;
        border-radius: 10px;
        margin: 0 0 24px;
    }

    .sidebar_block .text_widget {
        display: none;
    }



    .filter_item label {
        min-height: 24px;
        font-size: 12px;
    }

    .filter_item .term_label {
        padding: 0 0 0 34px;
        min-height: 24px;
    }

    .filter_item .term_label:before {
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }

    .reset_filters {
        padding: 0;
        border-radius: 0;
        margin: 12px 0 0;
    }

    .products_content {
        width: 100%;
    }

    .products_content_top {
        margin: 0 0 12px;
        font-size: 12px;
    }

    .w_perpage {
        font-size: 12px;
    }

    .products_content_top select, .w_perpage select {
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 0 0 8px;
        font-size: 10px;
        padding: 5px 20px 5px 5px;
        height: 24px;
        border-radius: 3px;
        background-size: 8px auto;
        background-position: top 50% right 6px;
    }

    .products_content_wrap {
        padding: 0 0 8px;
    }

    .w ul.products.columns_tri li.product, .w_page ul.products.columns_tri li.product, .w ul.products.columns_tri li.product:nth-child(3n), .w_page ul.products.columns_tri li.product:nth-child(3n) {
        width: calc(50% - 2px);
        margin: 0 4px 4px 0;
    }

    .w ul.products.columns_tri li.product:nth-child(2n), .w_page ul.products.columns_tri li.product:nth-child(2n) {
        margin-right: 0;
    }

    .product_inner .compare, .w ul.products li.product .button.compare {
        left: 10px;
        top: 10px;
        width: 12px;
        height: 12px;
        border-width: 1px;
    }

    .products_content_bottom {
        justify-content: space-between;
    }

    .products_content_bottom .w_perpage {
        position: static;
        transform: translate(0, 0);
        top: 0;
    }

    .w nav.w_pagination ul li {
        margin: 0 2px;
    }

    .w nav.w_pagination ul li a, .w nav.w_pagination ul li span {
        width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 1;
        border-radius: 3px;
    }

    .w nav.w_pagination ul li a.prev, .w nav.w_pagination ul li a.next {
        background-size: 4px auto;
    }

    .block_banner_consultation {
        margin: 0;
        padding: 38px 20px 41px;
    }

    .block_banner_consultation_title {
        font-size: 22px;
        margin: 0 0 8px;
        line-height: 1.1;
    }

    .block_banner_consultation_desc {
        margin: 0 0 24px;
        font-size: 18px;
        line-height: 1.2;
    }

    .block_banner_consultation_btn .btn {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .block_banner_consultation_img {
        opacity: 0.1;
        right: 20px;
        top: 13px;
        bottom: 0;
        width: 254px;
    }

    .product_mob_title {
        font-family: 'Moula';
        font-weight: 900;
        font-size: 22px;
        line-height: 1.1;
        text-transform: uppercase;
        color: #232323;
        margin: 0 0 15px;
    }

    .product_top {
        display: block;
        padding: 0 0 36px;
    }

    .product_top_left {
        width: 100%;
        margin: 0 0 28px;
    }

    .product_top_right {
        width: 100%;
    }

    .w div.product .product_title {
        display: none;
    }

    .single_product_price_wrap {
        margin: 0 0 30px;
    }

    .single_product_price_wrap .price, .w div.product p.price, .w div.product span.price {
        font-size: 22px;
    }

    .single_product_attributes_item_ico, .single_product_attributes_item_title {
        margin: 0 16px 0 0;
    }

    .single_product_attributes_more a {
        font-size: 16px;
        text-transform: none;
    }

    .single_product_btns {
        max-width: none;
        width: 100%;
    }

    .related h2 {
        font-size: 22px;
        margin: 0 0 27px;
    }

    .page_header {
        padding: 10px 0 16px;
    }

    .page_header h1 {
        font-size: 22px;
        margin: 0 0 19px;
    }

    .map iframe {
        height: 320px;
    }

    .services_wrap {
        padding: 5px 0 55px;
    }

    .services_item {
        width: 100%;
        margin: 0 0 36px;
    }

    .services_item_title {
        font-size: 18px;
        justify-content: flex-start;
    }

    .services_item_title i {
        margin: 0 0 0 24px;
    }

    .services_item_text {
        padding: 26px 0 0;
    }

    .services_item_text:before {
        height: 2px;
    }

    .block_mainers {
        padding: 144px 17px 38px;
        margin: 0 -17px;
        background: #1E1E1E;
    }

    .block_mainers_img {
        bottom: auto;
        top: -69px;
        width: 241px;
    }

    .block_mainers_title {
        font-size: 22px;
        color: #fff;
    }

    .block_mainers_text {
        color: #fff;
        font-size: 18px;
    }

    .service_top_block {
        padding: 36px 38px 41px;
        margin: 0 0 36px;
    }

    .service_top_block_title {
        font-size: 22px;
    }

    .service_top_block_text {
        font-size: 18px;
    }

    .service_profitably {
        margin: 0;
    }

    .service_profitably_title {
        margin: 0 0 39px;
        font-size: 22px;
    }

    .service_profitably_item {
        width: 100%;
        margin: 0 0 36px;
    }

    .service_profitably_item_top .title {
        width: calc(100% - 44px - 28px);
        font-size: 18px;
    }

    .service_block_content {
        margin: 0 0 36px;
    }

    .service_block_content_title {
        font-size: 22px;
    }

    .service_block_content_text {
        margin: 0 0 36px;
    }

    .service_block_content_monet {
        flex-wrap: wrap;
    }

    .service_block_content_monet span {
        width: 100%;
        margin: 0 0 17px;
        font-size: 16px;
    }

    .service_block_content_monet img {
        width: 26px;
        height: 26px;
    }

    .service_block_content_monet img:last-child {
        margin-right: 0;
    }

    .service_block_content_promocode {
        font-size: 16px;
    }

    .service_block_support {
        margin: 0;
    }

    .service_block_support_item {
        width: 100%;
        margin: 0 0 36px;
        padding: 26px 34px 34px 24px;
    }

    .service_block_support_item .icon {
        width: 44px;
        height: 44px;
    }

    .service_block_support_item_title {
        font-size: 18px;
    }

    .service_block_form_wrap {
        padding: 32px 20px 47px;
    }

    .service_block_form_content {
        margin: 0 0 28px;
    }

    .service_block_form_content_title {
        font-size: 22px;
    }

    .service_block_form_content_text {
        font-size: 18px;
    }

    .service_block_form {
        max-width: none;
    }

    .service_text_block {
        margin: 0 0 36px;
    }

    .service_text_block_title {
        font-size: 22px;
    }

    .service_text_block_list_item {
        width: 100%;
        margin: 0 0 18px;
    }

    .service_text_block_list_item_num {
        font-size: 22px;
    }

    .service_text_block_list_item_text {
        font-size: 16px;
    }

    .block_delivery_item_title {
        font-size: 18px;
    }
}