.container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1402px;
}

.page_service { padding: 0; }
    .service_top_block { background: #232323; border-radius: 10px; padding: 36px 26.45% 42px 5.53%; margin: 0 0 44px; }
        .service_top_block_title { font-family: 'Moula'; font-weight: 900; font-size: 38px; line-height: 1.1; text-transform: uppercase; color: #FFFFFF; margin: 0 0 14px; }
        .service_top_block_text { font-size: 24px; line-height: 1.2; color: #FFFFFF; margin: 0 0 40px; }
    .service_profitably { margin: 0 0 40px; }
        .service_profitably_title { font-family: 'Moula'; font-weight: 900; font-size: 38px; line-height: 1.1; text-transform: uppercase; color: #232323; margin: 0 0 36px; }
        .service_profitably_list { display: flex; flex-wrap: wrap; }
            .service_profitably_item { width: calc(33.33333% - 24px); margin: 0 36px 36px 0; }
            .service_profitably_item:nth-child(3n) { margin-right: 0; }
                .service_profitably_item_top { display: flex; margin: 0 0 28px; align-items: center; justify-content: flex-start; }
                    .service_profitably_item_top .icon { margin: 0 28px 0 0; }
                    .service_profitably_item_top .title { width: calc(100% - 56px - 28px); font-weight: 800; font-size: 24px; line-height: 1.2; color: #232323; }
                .service_profitably_item_text { font-size: 16px; line-height: 1.2; color: #707070; }
    .service_block_content { max-width: 1160px; margin: 0 0 77px; }
        .service_block_content_title { font-family: 'Moula'; font-weight: 900; font-size: 38px; line-height: 1.1; text-transform: uppercase; color: #232323; margin: 0 0 36px; }
        .service_block_content_text { font-size: 16px; line-height: 19px; color: #686868; margin: 0 0 52px; }
        .service_block_content_monet { display: flex; align-items: center; margin: 0 0 36px; }
            .service_block_content_monet span { font-weight: 500; font-size: 20px; line-height: 1.2; color: #707070; margin: 0 17px 0 0; }
            .service_block_content_monet img { margin: 0 9px 0 0; width: 32px; height: 32px; }
        .service_block_content_promocode { font-weight: 800; font-size: 24px; line-height: 1.2; color: #232323; margin: 0 0 36px; }
            .service_block_content_promocode span { color: #7250E6; }
        .service_block_content_bottom { font-size: 16px; line-height: 1.2; color: #686868; }
    .service_block_support { margin: 0 0 62px; display: flex; flex-wrap: wrap; justify-content: space-between; }
        .service_block_support_item { width: calc(25% - 14px); margin: 0 18px 18px 0; box-sizing: border-box; padding: 26px 31px 45px 24px; background: #F5F5F5; border-radius: 12px; }
        .service_block_support_item:nth-child(4n) { margin-right: 0; }
            .service_block_support_item .icon {  margin: 0 0 16px; width: 64px; height: 64px; }
            .service_block_support_item_title { font-weight: 800; font-size: 24px; line-height: 1.2; color: #232323; margin: 0 0 16px; }
            .service_block_support_item_text { font-size: 16px; line-height: 1.2; color: #707070; }
    .service_block_form_wrap { display: flex; justify-content: space-between; background: #232323; border-radius: 10px; padding: 52px 8.23% 55px 5.9%; }
        .service_block_form_content { width: 54.5%; }
            .service_block_form_content_title { font-family: 'Moula'; font-weight: 900; font-size: 38px; line-height: 1.1; text-transform: uppercase; color: #FFFFFF; margin: 0 0 14px; }
                .service_block_form_content_title span { color: #7250E6; }
            .service_block_form_content_text { font-size: 24px; line-height: 1.2; color: #FFFFFF; }
        .service_block_form { width: 37.86%; }
    .service_text_block { margin: 0 0 80px; }
        .service_text_block_title { font-family: 'Moula'; font-weight: 900; font-size: 38px; line-height: 1.1; text-transform: uppercase; color: #232323; margin: 0 0 36px; }
        .service_text_block_text { padding: 0; margin: 0; font-size: 16px; line-height: 1.2; color: #707070; }
            .service_text_block_text ol { list-style: none; counter-reset: item; }
                .service_text_block_text ol li { margin: 0; padding: 0 0 0 25px; position: relative; }
                .service_text_block_text ol li:before { content: counter(item)"."; counter-increment: item; left: 5px; top: 0; position: absolute; }
            .service_text_block_text ul { list-style: none; }
                .service_text_block_text ul li { margin: 0; padding: 0 0 0 25px; position: relative; }
                .service_text_block_text ul li:before { content: ''; position: absolute; width: 5px; height: 5px; background: #707070; border-radius: 50%; left: 9px; top: 7px; }
            .service_text_block_list { margin: 36px 0 18px; display: flex; flex-wrap: wrap; }
                .service_text_block_list_item { width: calc(25% - 14px); margin: 0 18px 18px 0; background: #F5F5F5; border-radius: 12px; box-sizing: border-box; padding: 14px 24px 26px; }
                .service_text_block_list_item:nth-child(4n) { margin-right: 0; }
                    .service_text_block_list_item_num { font-family: 'Moula'; font-weight: 900; font-size: 38px; line-height: 1.1; text-transform: uppercase; color: #7250E6; margin: 0 0 16px; }
                    .service_text_block_list_item_text { font-size: 24px; line-height: 1.2; color: #232323; }

.btn {
    display: inline-block;
    cursor: pointer;
    font-family: 'Moula';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    border-radius: 10px;
    padding: 20px 39px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    color: #FFFFFF;
    background: linear-gradient(270deg, #7250E6 33%, #FF5C87 66%);
    background-size: 300% 100%;
    background-position: 66% 0;
    animation: background 3s infinite alternate;
}


@media only screen and (max-width: 1259px) {
    

    
}


@media only screen and (max-width: 991px) {
    
    .services_item { width: 48%; margin-right: 4%; }
    .services_item:nth-child(2n) { margin-right: 0; }
    
    .service_profitably_item { width: calc(50% - 18px); }
    .service_profitably_item:nth-child(3n) { margin-right: 36px; }
    .service_profitably_item:nth-child(2n) { margin-right: 0; }
    
    .service_block_support_item { width: calc(50% - 9px); }
    .service_block_support_item:nth-child(2n) { margin-right: 0; }
    
    .service_block_form_wrap { display: block; padding: 52px 27px 55px; }
        .service_block_form_content { width: 100%; margin: 0 0 30px; }
        .service_block_form { width: 100%; max-width: 440px; margin: 0 auto; }
    
    .service_text_block_list_item { width: calc(50% - 9px); }
    .service_text_block_list_item:nth-child(2n) { margin-right: 0; }
    
}


@media only screen and (max-width: 767px) {
    
    .container { padding: 0 17px; }
    .btn { padding: 18px 30px; font-size: 12px; border-radius: 10px; }
    .icon { width: 44px; height: 44px; border-radius: 8px; }
    .btn_violet { padding: 18px 30px; font-size: 12px; border-radius: 10px; min-width: 303px; }
 
  
 

    
    .page_header { padding: 10px 0 16px; }
        .page_header h1 { font-size: 22px; margin: 0 0 19px; }
    .map iframe { height: 320px; }
    
    .services_wrap { padding: 5px 0 55px; }
        .services_item { width: 100%; margin: 0 0 36px; }
            .services_item_title { font-size: 18px; justify-content: flex-start; }
                .services_item_title i { margin: 0 0 0 24px; }
            .services_item_text { padding: 26px 0 0; }
                .services_item_text:before { height: 2px; }
    .block_mainers { padding: 144px 17px 38px; margin: 0 -17px; background: #1E1E1E; }
        .block_mainers_img { bottom: auto; top: -69px; width: 241px; }
        .block_mainers_title { font-size: 22px; color: #fff; }
        .block_mainers_text { color: #fff; font-size: 18px; }
    
    .service_top_block { padding: 36px 38px 41px; margin: 0 0 36px; }
        .service_top_block_title { font-size: 22px; }
        .service_top_block_text { font-size: 18px; }
    .service_profitably { margin: 0; }
        .service_profitably_title { margin: 0 0 39px; font-size: 22px; }
        .service_profitably_item { width: 100%; margin: 0 0 36px; }
            .service_profitably_item_top .title { width: calc(100% - 44px - 28px); font-size: 18px; }
    .service_block_content { margin: 0 0 36px; }
        .service_block_content_title { font-size: 22px; }
        .service_block_content_text { margin: 0 0 36px; }
        .service_block_content_monet { flex-wrap: wrap; }
            .service_block_content_monet span { width: 100%; margin: 0 0 17px; font-size: 16px; }
            .service_block_content_monet img { width: 26px; height: 26px; }
            .service_block_content_monet img:last-child { margin-right: 0; }
        .service_block_content_promocode { font-size: 16px; }
    .service_block_support { margin: 0; }
        .service_block_support_item { width: 100%; margin: 0 0 36px; padding: 26px 34px 34px 24px; }
            .service_block_support_item .icon { width: 44px; height: 44px; }
            .service_block_support_item_title { font-size: 18px; }
    .service_block_form_wrap { padding: 32px 20px 47px; }
        .service_block_form_content { margin: 0 0 28px; }
            .service_block_form_content_title { font-size: 22px; }
            .service_block_form_content_text { font-size: 18px; }
        .service_block_form { max-width: none; }
    .service_text_block { margin: 0 0 36px; }
        .service_text_block_title { font-size: 22px; }
    .service_text_block_list_item { width: 100%; margin: 0 0 18px; }
        .service_text_block_list_item_num { font-size: 22px; }
        .service_text_block_list_item_text { font-size: 16px; }
    

    
}