
.container { 
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1402px; 
}

.block_mainers { 
    padding: 98px 5.34% 92px 38.88%; 
    position: relative; 
}
.block_mainers_img { 
    position: absolute; 
    left: 0; 
    top: 0; 
    bottom: 0; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    width: 32.36%; 
    max-height: 100%; 
}
.block_mainers_img img { 
    max-height: 100%; 
    max-width: 100%;
}
.block_mainers_title { 
    font-family: 'Moula';
    font-weight: 900; 
    font-size: 38px; 
    line-height: 1.1; 
    text-transform: uppercase; 
    color: #232323; 
    margin: 0 0 14px; 
}
.block_mainers_text { 
    font-size: 24px; 
    line-height: 1.2; 
    color: #232323; 
    margin: 0 0 40px; 
}

.btn {
    display: inline-block;
    cursor: pointer;
    font-family: 'Moula';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    border-radius: 10px;
    padding: 20px 39px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    color: #FFFFFF;
    background: linear-gradient(270deg, #7250E6 33%, #FF5C87 66%);
    background-size: 300% 100%;
    background-position: 66% 0;
    animation: background 3s infinite alternate;
}


@media only screen and (max-width: 1259px) {
    

}


@media only screen and (max-width: 991px) {
    
    .main_b1_banner { padding-right: 45%; }
        .main_b1_banner_img { width: 45%; right: 0; }
    
    .main_b2_item { width: 45%; }
    
    .main_b4_carousel_item_top { padding: 0; margin: 0 0 30px; }
        .main_b4_carousel_item_top_title { width: 50%; font-size: 26px; }
        .main_b4_carousel_item_top_btn { padding: 0; }
    .main_b4_carousel_item_adv { flex-wrap: wrap; }
        .main_b4_carousel_item_adv_item { margin-bottom: 10px; }
    
    .main_b6_list { flex-wrap: wrap; margin: 0; }
        .main_b6_item { width: 50%; margin: 0 0 30px; }
    
    .main_b7 { padding: 40px 5% 40px 35%; }
        .main_b7_title { font-size: 32px; }
        .main_b7_text { font-size: 21px; margin: 0 0 30px; }
    
    .main_b9_wrap { padding: 40px 5%; }
    
    .f_menu_catalog, .f_menu_services { display: none; }
    .f_top_item, .f_top_item:last-child { width: 100%; max-width: 220px; }
    
    .products_wrap { flex-wrap: wrap; margin: 0 0 24px; }
        .sidebar { width: 100%; }
            .sidebar-block .widgettitle { padding: 13px 17px; box-sizing: border-box; display: inline-block; font-style: normal; font-weight: 400; font-size: 13px; line-height: 16px;  color: #707070; border: 2px solid #D9D9D9; border-radius: 10px; margin: 0 0 24px; }
            .sidebar-block .textwidget { display: none; }
        .products_content { width: 100%; }
    
    .services_item { width: 48%; margin-right: 4%; }
    .services_item:nth-child(2n) { margin-right: 0; }
    
    .service_profitably_item { width: calc(50% - 18px); }
    .service_profitably_item:nth-child(3n) { margin-right: 36px; }
    .service_profitably_item:nth-child(2n) { margin-right: 0; }
    
    .service_block_support_item { width: calc(50% - 9px); }
    .service_block_support_item:nth-child(2n) { margin-right: 0; }
    
    .service_block_form_wrap { display: block; padding: 52px 27px 55px; }
        .service_block_form_content { width: 100%; margin: 0 0 30px; }
        .service_block_form { width: 100%; max-width: 440px; margin: 0 auto; }
    
    .service_text_block_list_item { width: calc(50% - 9px); }
    .service_text_block_list_item:nth-child(2n) { margin-right: 0; }
    
}


@media only screen and (max-width: 767px) {
    
    .container { padding: 0 17px; }
    .btn { padding: 18px 30px; font-size: 12px; border-radius: 10px; }
    .icon { width: 44px; height: 44px; border-radius: 8px; }
    .btn_violet { padding: 18px 30px; font-size: 12px; border-radius: 10px; min-width: 303px; }
  


    .block_mainers { padding: 144px 17px 38px; margin: 0 -17px; background: #1E1E1E; }
        .block_mainers_img { bottom: auto; top: -69px; width: 241px; }
        .block_mainers_title { font-size: 22px; color: #fff; font-family: 'Moula'; font-weight: 900; }
        .block_mainers_text { color: #fff; font-size: 18px; font-weight: 400;font-family: 'Inter' }
    
    
}