
.container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1402px;
}

.main_b5 {
    margin: 0 0 80px;
    background: #F5F5F5;
    font-size: 0;
    line-height: 0;
    padding: 52px 0;
}

.main_b5_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Moula';
    font-size: 24px;
    line-height: 1.2;
    color: #232323;
}

.main_b5_text span + span {
    margin-left: 20px;
}

.main_b5_text img {
    max-height: 33px;
}


@media only screen and (max-width: 767px) {

    .main_b5 { margin: 0 0 28px; padding: 21px 0 15px; }
    .main_b5_text { text-align: center; flex-direction: column; font-size: 18px; line-height: 1.1; max-width: 260px; margin: 0 auto; }
        .main_b5_text span + span { margin: 8px 0 0; }
        .main_b5_text img { max-height: 30px; }


}